section.carousel {
  margin: 0;
  padding: 10px;

  .carousel-title {
    display: flex;
    justify-self: center;
    align-self: center;
    color: white;
  }

  div.movies {
    position: relative;
    display: flex;

    .arrow {
      position: absolute;
      z-index: 10;
      display: flex;
      cursor: pointer;
      height: 100%;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.7);
      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
      img {
        height: 50px;
        padding: 20px;
      }

      &.left-arrow {
        left: 0;
      }
      &.right-arrow {
        right: 0;
      }
    }
    .carousel-list {
      display: flex;
      position: relative;
      width: 100vw;
      flex-flow: row nowrap;
      overflow: hidden;
      justify-content: space-evenly;

      cursor: pointer;

      img {
        width: 100%;
        height: auto;

        margin: 3px;
      }
    }
  }
}
