html {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  color: lightgrey;
  a {
    color: lightgrey;
  }
}

body {
  display: block;
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: rgb(46, 49, 54);
}

header {
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  top: 0;
  max-height: 15vh;
  width: 100%;
  z-index: 100;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  background: rgb(3, 3, 3);

  .logo {
    width: fit-content;

    img {
      width: 50px;
      padding: 10px;
      border-radius: 10px;
    }
  }

  .navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 21px;
    width: 100%;
    align-items: center;

    a {
      display: flex;
      text-decoration: none;
      color: lightgray;
      font-family: "Avenir", Helvetica, Arial, sans-serif;
      font-size: 20px;
      height: 100%;
      align-items: center;
    }

    .dropdown {
      position: relative;
      display: inline-block;
      z-index: 5;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      margin: 10px;
      width: 240px;
      justify-content: space-between;
      right: 0px;
      top: 10px;
      overflow: auto;
      background-color: rgb(32, 32, 32);
      box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
      border-radius: 10px;
    }
    .show {
      display: block;
    }

    .dropdown-content a {
      display: flex;
      justify-content: flex-end;
      margin: auto;
      width: auto;
      color: lightgray;
      padding: 15px;
      font-size: small;
      font-style: bold;
      text-decoration: none;
    }
    .dropdown-content a:hover {
      color: white;
      background-color: rgb(46, 46, 46);
    }
  }
}

main {
  padding: 200px 0px 50px 0px;
}

#movie-modal {
  display: none;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);

  /* Modal Content/Box */
  .modal-content {
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 60%;
    max-height: 80%;
    border-radius: 20px;
    color: white;
    padding: 50px;
    position: absolute;


    div.first-content {
      display: flex;
      overflow: hidden;
      max-height: 30vh;
      width: 100%;
      justify-content: space-between;

      div.right-column {
        padding: 20px;
      }

      > img {
        position: relative;
      }
      > p {
        width: 70%;
        position: relative;
        display: block;
        font-family: "Avenir", Helvetica, Arial, sans-serif;
      }
    }
  }

  /* The Close Button */
  .close-modal {
    position: absolute;
    display: block;
    color: #aaa;
    font-size: 50px;
    font-weight: bold;
    transition: transform 0.3s;
    top: 10px;
    right: 30px;
  }

  .close-modal:hover,
  .close-modal:focus {
    transform: rotate(90deg);
    cursor: pointer;
  }
}
footer {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  background-color: rgb(46, 46, 46);
  text-align: center;
  color: lightgray;
}
