html {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  color: lightgrey;
}

html a {
  color: lightgrey;
}

body {
  display: block;
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #2e3136;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: fixed;
  top: 0;
  max-height: 15vh;
  width: 100%;
  z-index: 100;
  padding: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #030303;
}

header .logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header .logo img {
  width: 50px;
  padding: 10px;
  border-radius: 10px;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 21px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: lightgray;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-size: 20px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .dropdown {
  position: relative;
  display: inline-block;
  z-index: 5;
}

header .navbar .dropdown-content {
  display: none;
  position: absolute;
  margin: 10px;
  width: 240px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  right: 0px;
  top: 10px;
  overflow: auto;
  background-color: #202020;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

header .navbar .show {
  display: block;
}

header .navbar .dropdown-content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: auto;
  width: auto;
  color: lightgray;
  padding: 15px;
  font-size: small;
  font-style: bold;
  text-decoration: none;
}

header .navbar .dropdown-content a:hover {
  color: white;
  background-color: #2e2e2e;
}

main {
  padding: 200px 0px 50px 0px;
}

#movie-modal {
  display: none;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  /* Modal Content/Box */
  /* The Close Button */
}

#movie-modal .modal-content {
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 60%;
  max-height: 80%;
  border-radius: 20px;
  color: white;
  padding: 50px;
  position: absolute;
}

#movie-modal .modal-content div.first-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-height: 30vh;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#movie-modal .modal-content div.first-content div.right-column {
  padding: 20px;
}

#movie-modal .modal-content div.first-content > img {
  position: relative;
}

#movie-modal .modal-content div.first-content > p {
  width: 70%;
  position: relative;
  display: block;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}

#movie-modal .close-modal {
  position: absolute;
  display: block;
  color: #aaa;
  font-size: 50px;
  font-weight: bold;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  top: 10px;
  right: 30px;
}

#movie-modal .close-modal:hover,
#movie-modal .close-modal:focus {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  background-color: #2e2e2e;
  text-align: center;
  color: lightgray;
}
/*# sourceMappingURL=main.css.map */